# log files
*.log

# Options
options

# Binary extensions
*.ani
*.an
*.bin
*.col
*.COL
*.dat
*.gm
*.grs
*.hdp
*.loc
*.mp3
*.ogg
*.pdf
*.prj
*.ptc
*.qch
*.rar
*.sfk
*.tga
*.tx
*.wav
*.wmv
*.xb
*.xls
*.xlsx
*.xps
*.zap

# Save folder
/SAVE