# log files
*.log

# Options
options

# Binary extensions
*.ani
*.an
*.bin
*.col
*.COL
*.dat
*.gm
*.grs
*.hdp
*.itch
*.jpg
*.loc
*.mp3
*.old
*.ogg
*.pdf
*.png
*.prj
*.ptc
*.qch
*.rar
*.sfk
*.tga
*.tx
*.wav
*.wmv
*.xb
*.xbx
*.psd
*.xls
*.xlsx
*.xps
*.zap

# Save folder
source/SAVE